body {
  background-image: url("simplebg-min.jpg");
  width: auto;
  background-size: auto;
  font-family: Roboto;
}

.title {
  color: #ff4411;
}

.result-box {
  padding: 2%;
  margin-top: 5px;
}

.pa-form {
  padding: 3%;
}

.subtitle {
  color: #666;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-submit {
  background-color: green;
  margin-bottom: 5%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
